@*@model IEnumerable<SpaConnect.Models.Step>*@
@model SpaConnect.ViewModels.NewAssetVM

@{
    ViewBag.Title = "INSTRUCTIONS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int numb = 0;
}

@foreach (var val in Model.utilIDVM)
{
    <h2>OPN @val.OPN @val.opTitle</h2>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>LESSON PLAN</th>
            <th>MODIFY</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var val in Model.utilIDVM)
        {
        <tr>
            <td>@val.lessonPlan</td>
            <td>
                @Html.ActionLink("Edit", "Edit2", "Operation", new { id = val.ID }, new { @class = "btn btn-primary btn-xs" })
            </td>
        </tr>
        }
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>TOOLS/EQUIPMENT</th>
            <th>MODIFY</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var val in Model.utilIDVM)
        {
        <tr>
            <td>@val.tools</td>
            <td>
                @Html.ActionLink("Edit", "Edit2", "Operation", new { id = val.ID }, new { @class = "btn btn-primary btn-xs" })
            </td>
        </tr>
        }
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>GENERAL NOTES</th>
            <th>MODIFY</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var val in Model.utilIDVM)
        {
        <tr>
            <td>@val.generalNotes</td>
            <td>
                @Html.ActionLink("Edit", "Edit2", "Operation", new { id = val.ID }, new { @class = "btn btn-primary btn-xs" })
            </td>
        </tr>
        }
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>STEP</th>
            <th>INSTRUCTION</th>
            <th>MODIFY</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var val in Model.stepIDVM)
        {
            numb = numb+1;
        <tr>
            <td>@numb</td>
            <td>@val.instructions</td>
            <td>
                @Html.ActionLink("New", "New", "Step", new { id = val.ID }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Edit", "Edit", "Step", new { id = val.ID }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Delete", "Result", "Operation", new { id = val.ID }, new { @class = "btn btn-primary btn-xs" })
            </td>
        </tr>
        }
    </tbody>
</table>

