@model SpaConnect.Models.Operation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Operation</h2>

<h3>Are you sure you want to delete this operation?</h3>
<div>
    <div>
        <h4 style="color:blue">OPN @Html.DisplayFor(model => model.OPN)  @Html.DisplayFor(model => model.opTitle)</h4><br />
    </div>

    @using (Html.BeginForm("Remove", "Operation"))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Details", new { id = Model.asmbID }, new { @class = "btn btn-primary" })
        </div>

        @Html.HiddenFor(m => m.ID);
    }

</div>
