@model IEnumerable<SpaConnect.Models.Operation>

@{
    ViewBag.Title = "OPERATIONS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OPERATIONS</h2>

@*---------------------------------------LIST OF OPERATIONS--------------------------------------------*@

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>OPN</th>
            <th>OPERATION</th>
            <th>MODIFY</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var val in Model)
        {
            <tr>
                <td>@val.OPN</td>
                <td class="col-lg-10">@Html.ActionLink(val.opTitle, "Index", "Step", new { id = val.ID }, null)</td>
                <td class="col-lg-2">
                    @Html.ActionLink("Edit", "Edit", "Operation", new { id = val.ID }, new { @class = "btn btn-primary btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "Operation", new { id = val.ID }, new { @class = "btn btn-primary btn-xs" })
                </td>
            </tr>
        }
    </tbody>
</table>

@*---------------------------------------NAVIGATION BUTTONS----------------------------------------------*@

@Html.ActionLink("ADD NEW OPERATION", "New", "Operation", new { id = Model.First().asmbID }, new { @class = "btn btn-primary btn" })
@Html.ActionLink("BACK TO ASSEMBLIES", "Details", "Assembly", new { id = Model.First().asmbID }, new { @class = "btn btn-primary btn" })




